<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WELCOME TO MINI SOCIAL</title>
    
</head>
<body>
<body bgcolor="#f7defa" >
    <h1 style="text-align: center">WELCOME TO MINI SOCIAL</h1>
    <div style="width:60%; margin: 10px auto;"> 
    {% block topbar %}
        {% if user.is_authenticated %}
        Welcome <a href="/user/profile/{{user.id}}"> {{user.username}} </a>!
        <a href="/user/logout">Sign out</a>
        <br/>
        
        {%endif%}
    {% endblock %}
    </div>

    {%block navigation%}   
    <nav style="width:60%; margin: 10px auto;"> 
       <a href="/">Home</a> *
       {% if not user.is_authenticated %}
            <a href="/user/register">Sign up</a> *
            <a href="/user/login">Sign in</a>
       {% else %}
            <a href="/user/profile/{{user.id}}">Profile</a>    
       {% endif %}
       </nav>
    {%endblock %}

    <div style="width:60%; margin: 10px auto;">
        {%block content%}
              
        {%endblock content%}
    </div>

    <p style="text-align:center">&copy; {% now "Y" %} , SOCIAL INC.</p>
</body>
</html>