{% extends 'layout.html'%}
{%block content%}
        <h2>UPDATE POST:</h2>
        <form action="/change-post">
           <input name="id" type="hidden" placeholder="title" value="{{ post.id }}"/><br>
           <input name="title" type="text" placeholder="title" value="{{ post.title }}"/><br>  {% comment %} name -salveaza postarea si o transmite mai departe {% endcomment %}
           <input name="body" type="text" placeholder="body" value="{{ post.body }}"/><br>
           <button>SAVE</button><br>   
        </form>

{%endblock%}
   